<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/stylesheets/styles.css}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <link rel="icon" th:href="@{/icons/favicon.webp}">
  <title>Error</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
  <h1>Error Fallback Page</h1>
  <section>
    <div class="content">
      Oops, you aren't supposed to be here -.-#
    </div>
  </section>
</main>
<footer></footer>
</body>
</html>