<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/stylesheets/styles.css}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <link rel="icon" th:href="@{/icons/favicon.webp}">
  <title>Rectangles Index</title>
  <style>
    .display {
      width: 2em;
      height: 2em;
      border: black solid 0.2em;
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    th td {
      height: 4em;
      text-align: center;
      font-family: 'Staatliches', cursive;
    }
  </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
  <h1>List of Rectangles</h1>
  <section class="container">
    <table>
      <tr>
        <th>
          Display
        </th>
        <th>
          Name
        </th>
        <th>
          Color
        </th>
        <th>
          Width
        </th>
        <th>
          Height
        </th>
        <th>
          Loved Color
        </th>
        <th>
          Hated Color
        </th>
      </tr>
      <tr th:each="rectangle : ${rectangles}">
        <td>
          <a th:href="'/rectangle/'+${rectangle.id}">
            <div class="display" th:style="'background-color:'+${rectangle.color}+';'"></div>
          </a>
        </td>
        <td th:text="${rectangle.name}"></td>
        <td th:text="${rectangle.color}" th:style="'background-color:'+${rectangle.color}+';'"></td>
        <td th:text="${rectangle.width}"></td>
        <td th:text="${rectangle.height}"></td>
        <td th:text="${rectangle.lovedColor}" th:style="'background-color:'+${rectangle.lovedColor}+';'"></td>
        <td th:text="${rectangle.hatedColor}" th:style="'background-color:'+${rectangle.hatedColor}+';'"></td>
      </tr>
    </table>
  </section>
</main>
</body>
</html>